@charset "UTF-8";
html {
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1025px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 860px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1025px) {
  body.lock {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1025px) {
  .container {
    max-width: 810px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.musthead {
  background: url(/img/masthead/musthead-bg.png);
  position: relative;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 46, 74, 0.95);
  z-index: 4;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.8125rem;
          flex: 0 0 11.8125rem;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.header__logo img {
  width: 100%;
  display: block;
}
.header__burger {
  display: none;
}
.header__burger span {
  position: absolute;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: 0.25rem;
  top: 1.15rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 1.15rem;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 1.15rem;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
@media (max-width: 1025px) {
  .header__burger {
    display: block;
    width: 3rem;
    height: 2.5rem;
    position: relative;
    z-index: 4;
  }
}
@media (max-width: 1025px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #53354a;
    z-index: 3;
    padding: 10rem 0rem 0rem 0rem;
  }
}
.header__menu.active {
  top: 0;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
}
@media (max-width: 1025px) {
  .header__list {
    display: block;
  }
}
.header__item {
  margin: 0 0 0 3.75rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 1025px) {
  .header__item {
    margin: 0rem 0rem 2.5rem 0rem;
    text-align: center;
  }
  .header__item:hover {
    -webkit-transform: none;
            transform: none;
  }
}
.header__link {
  color: #ffffff;
  opacity: 0.75;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header__link:hover {
  color: #e84545;
}
@media (max-width: 1025px) {
  .header__link {
    font-size: 2rem;
  }
}

.first-screen__body {
  padding: 16rem 0 9.75rem 0;
}
@media (max-width: 1025px) {
  .first-screen__body {
    padding: 9.5rem 0 5.75rem 0;
  }
}
.first-screen__title {
  max-width: 53.8125rem;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 4.0625rem;
  font-weight: 700;
  font-style: normal;
  line-height: 4.4375rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 2.5625rem;
}
.first-screen__description {
  max-width: 57rem;
  color: #ffffff;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 2.0625rem;
  text-align: center;
  margin: 0 auto 4.8125rem;
}
.first-screen__btn {
  color: #ffffff;
  background-color: #e84545;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.8125rem;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  margin: auto;
  padding: 1.125rem 0;
  width: 12.5rem;
}
.first-screen__btn:hover {
  background-color: #cf2b2b;
}

.features {
  padding-top: 7.5rem;
  padding-bottom: 3.125rem;
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -0.9375rem;
}
.features__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 0.9375rem;
  margin: 0 0 4.625rem 0;
}
@media (max-width: 860px) {
  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 860px) {
  .features {
    padding-top: 4.625rem;
    padding-bottom: 0rem;
  }
}

.features-item__icon {
  height: 3.75rem;
  margin: 0 0 2.1874rem 0;
}
.features-item__icon img {
  display: block;
  margin: auto;
  height: 100%;
}
.features-item__title {
  color: #2d3033;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 0 1.5625rem 0;
  text-transform: uppercase;
}
.features-item__text {
  color: #6c7279;
  font-size: 0.875rem;
}

.portfolio {
  padding: 0rem 0rem;
}

.portfolio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-row__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  padding: 0.05% 0.05%;
}
.portfolio-row__item:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(232, 69, 69, 0.8);
  border-radius: 3%;
}
@media (max-width: 767px) {
  .portfolio-row__item {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
}
@media (max-width: 575px) {
  .portfolio-row__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.portfolio-row__item_info {
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 30%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-row__item_info:hover {
  opacity: 1;
}
.portfolio-row__item_title {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.portfolio-row__item_text {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  display: block;
  margin-top: 0.8125rem;
}
.portfolio-row__item_img {
  overflow: hidden;
  border-radius: 3%;
}
.portfolio-row__item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
@media (max-width: 767px) {
  .portfolio-row :nth-child(4n) {
    display: none;
  }
}
@media (max-width: 575px) {
  .portfolio-row :nth-child(3n) {
    display: none;
  }
}

.team {
  padding-top: 6.3125rem;
  padding-bottom: 6.3125rem;
}
.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -1.875rem;
}
@media (max-width: 1200px) {
  .team__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  padding: 0 0.9375rem;
}
@media (max-width: 1200px) {
  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 575px) {
  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 1200px) {
  .team-item {
    margin-bottom: 2.5rem;
  }
}
.team-item__icon {
  width: 16.875rem;
  height: 16.875rem;
  margin-bottom: 1.875rem;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .team-item__icon {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 1025px) {
  .team-item__icon {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 767px) {
  .team-item__icon {
    width: 8rem;
    height: 8rem;
  }
}
.team-item__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.team-item__name {
  color: #2d3033;
  font-size: 1.375rem;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .team-item__name {
    text-align: center;
  }
}
.team-item__position {
  font-size: 0.8125rem;
  color: #e84545;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1.8125rem;
}
@media (max-width: 1200px) {
  .team-item__position {
    text-align: center;
  }
}
.team-item__description {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #6c7279;
  text-align: left;
  margin-bottom: 1.9375rem;
}
@media (max-width: 1200px) {
  .team-item__description {
    text-align: center;
  }
}
.team-item__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .team-item__social-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.team-item__social-item {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.25rem;
  border: 0.0625rem solid #e8ecee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fab {
  font-size: 1.25rem;
  color: #c6cacc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fab:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.fa-facebook-f:hover {
  color: #4267B2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.clients-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clients-row__left-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  padding-bottom: 30%;
}
.clients-row__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.clients-row__right-item {
  width: 50%;
  background-color: #53354a;
  text-align: left;
}
.clients-row__right-item_info {
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}
.clients-row__right-item_text {
  color: #ffffff;
  font-family: Cardo;
  font-size: 2.25rem;
  line-height: 2.625rem;
  max-width: 31.25rem;
  margin-bottom: 1.875rem;
}
.clients-row__right-item_position {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.3125rem;
  text-transform: uppercase;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.clients-slider {
  position: relative;
  padding: 0px 1rem;
}

.clients-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -1.875rem 0.9375rem 0rem 0.9375rem;
  z-index: 5;
  font-size: 0;
  width: 2rem;
  height: 3rem;
  border: none;
}

.clients-slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/clients/chevron-left-solid.svg) 0 0/100% no-repeat;
}
@media (max-width: 767px) {
  .clients-slider .slick-arrow.slick-prev {
    display: none;
  }
}

.clients-slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/clients/chevron-right-solid.svg) 0 0/100% no-repeat;
}
@media (max-width: 767px) {
  .clients-slider .slick-arrow.slick-next {
    display: none;
  }
}

.clients-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-slider .slick-dots li {
  list-style: none;
  margin: 0 2rem;
  margin-top: 1.5rem;
}

.clients-slider .slick-dots button {
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.clients-slider .slick-dots li.slick-active button {
  background-color: #53354a;
}

.download {
  padding: 6.25rem 0;
}
.download__title {
  color: #2d3033;
  font-size: 1.75rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3125rem;
  margin-bottom: 1rem;
}
.download__description {
  color: #2d3033;
  font-size: 0.8125rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3125rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.download__btn {
  color: #ffffff;
  background-color: #e84545;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.8125rem;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  margin: auto;
  padding: 1.125rem 0;
  width: 17.5rem;
}
.download__btn:hover {
  background-color: #cf2b2b;
}

.contact {
  padding-top: 4.4375rem;
  padding-bottom: 5.5rem;
  background-color: #3a3e64;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.contact-item__title {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 1.3125rem;
}
.contact-item__text {
  color: #ffffff;
  opacity: 0.5;
  font-size: 0.875rem;
  font-style: normal;
}
.contact-item__text_last {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.contact-item__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 8.375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}
.contact-item__social-item {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-facebook-f-1 {
  color: #ffffff;
}

.fa-twitter-1 {
  color: #ffffff;
}

.fa-linkedin-1 {
  color: #ffffff;
}

.footer {
  padding: 1.8125rem 0;
  background-color: #313454;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-body__copyright {
  color: #808080;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.40625rem;
}
.footer-body__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}
.footer-body__text {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: inline;
  font-family: "Open Sans";
  color: #808080;
  font-size: 0.8125rem;
  font-style: normal;
}
.footer-body__text::after {
  content: "ï€„";
  font-family: "Font Awesome 5 Free";
  font-size: 0.8125rem;
  font-weight: 600;
  color: #e84545;
  padding: 0 0.4375rem;
}
.footer-body__name {
  color: #ffffff;
  font-size: 0.875rem;
  font-style: normal;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: inline;
}